@model CarRental.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vintage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vintage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                <span>Active</span>
            }
            else
            {
                <span>Inactive</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@* <img src="@Model.ImgUrl" /> *@

<div class="card" style="width: 18rem;">
    <img src="@Model.ImgUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Vintage - @Model.Brand</h5>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-primary">Book</a>
    </div>
</div>
